[submodule "WWWAnalysis2017/rooutil"]
	path = WWWAnalysis2017/rooutil
	url = git@github.com:sgnoohc/rooutil.git
[submodule "WWWAnalysis2017/plottery"]
	path = WWWAnalysis2017/plottery
	url = git@github.com:sgnoohc/plottery.git
[submodule "WWWAnalysis/rooutil"]
	path = WWWAnalysis/rooutil
	url = git@github.com:sgnoohc/rooutil.git
[submodule "WWWAnalysis/plottery"]
	path = WWWAnalysis/plottery
	url = git@github.com:aminnj/plottery.git
[submodule "WWWAnalysis/fakerate/rooutil"]
	path = WWWAnalysis/fakerate/rooutil
	url = git@github.com:sgnoohc/rooutil.git
[submodule "WWWAnalysis/fakerate/plottery"]
	path = WWWAnalysis/fakerate/plottery
	url = git@github.com:aminnj/plottery.git
